<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="styles/main.css" rel="stylesheet" type="text/css" />
    <title>Current Weather</title>
  </head>
  <body>
    <div class="navbar">
      <h1 class="title">Current Weather</h1>
      <h2 class="title">Temperature in Bangalore:</h2>
      <h3 class="title"><%= content %></h3>
    </div>
  </body>
</html>
